@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply select-none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.transition-bg {
    transition: background-color 0.2s ease-in-out;
}

.fade-in-out {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.fade-in-out.show {
    opacity: 1;
    visibility: visible;
}